params {
    version      = "0.0.5"
    genome_fasta = false
    input_bam    = false
    outdir       = "$baseDir/data/output"
}

profiles {

    test {
        params.genome_fasta = "$baseDir/data/test_data/input/human_chr22_hg19.fasta"
        params.input_bam    = "$baseDir/data/test_data/input/test_data.bam"
        parmas.roi_bed      = "$baseDir/data/test_data/input/test_roi.bed"
        params.outdir       = "$baseDir/data/test_data/output"
    }

    slurm {
        params.singularity_cache = "/home/x.e.w.01/singularity_images"
        process {
            executor       = "slurm"
            queue          = "htc"
            time           = "30m"
            memory         = "2 GB"
            clusterOptions = "--account=scw1574"
        }
    }

    travis {
        params.singularity_cache = "/home/travis/build/erikwaskiewicz/ctdna-project"
    }
}

singularity {
    enabled = true
    cacheDir = "$params.singularity_cache"
}

process.container = "${params.singularity_cache}/ctdna-base-latest.simg"

timeline {
    enabled = false
    file = "data/pipeline_info/timeline.html"
}
report {
    enabled = false
    file = "data/pipeline_info/report.html"
}
trace {
    enabled = false
    file = "data/pipeline_info/trace.txt"
}
dag {
    enabled = false
    file = "data/pipeline_info/dag.svg"
}
