docker.enabled = true
process.container = 'erikwaskiewicz/ctdna-base:latest'

params {
    version = "0.0.2"
    genome_fasta = false
    input_bam    = false
    outdir       = false
}

profiles {

    test {
        params.genome_fasta = "$baseDir/data/test_data/input/human_chr22_hg19.fasta"
        params.input_bam    = "$baseDir/data/test_data/input/test_data.bam"
        params.outdir       = "$baseDir/data/test_data/output"
    }

}
