params {
    version      = "0.0.5"
    genome_fasta = false
    input_bam    = false
    outdir       = "$baseDir/data/output"
}

profiles {

    // loads in test data
    test {
        params.genome_fasta = "$baseDir/data/test_data/input/human_chr22_hg19.fasta"
        params.input_bam    = "$baseDir/data/test_data/input/test_data.bam"
        params.roi_bed      = "$baseDir/data/test_data/input/test_roi.bed"
        params.outdir       = "$baseDir/data/test_data/output"
    }

    // docker
    docker_conf {
        docker.enabled = true
        process {
            container = "erikwaskiewicz/ctdna-base:v0.1"
            withName:var_call_freebayes {
                container = "erikwaskiewicz/ctdna-freebayes:v0.1"
            }
//            withName:var_call_sinvict {
//                container = "erikwaskiewicz/ctdna-sinvict:v0.1"
//            }
            withName:var_call_varscan {
                container = "erikwaskiewicz/ctdna-varscan:v0.1"
            }
        }
    }

    // singularity
    singularity_conf {
        singularity {
            enabled = true
            //cacheDir = "$params.singularity_cache"
        }
        process {
            container = "docker://erikwaskiewicz/ctdna-base:v0.1"
            withName:var_call_freebayes {
                container = "docker://erikwaskiewicz/ctdna-freebayes:v0.1"
            }
//            withName:var_call_sinvict {
//                container = "docker://erikwaskiewicz/ctdna-sinvict:v0.1"
//            }
            withName:var_call_varscan {
                container = "docker://erikwaskiewicz/ctdna-varscan:v0.1"
            }
        }
    }

    // config for running on ARCCA Hawk - use with singularity config
    slurm {
        //params.singularity_cache = "/home/x.e.w.01/singularity_images"
        process {
            executor       = "slurm"
            queue          = "htc"
            //time           = "30m"
            memory         = "2 GB"
            clusterOptions = "--account=scw1574"
        }
    }
}

timeline {
    enabled = false
    file = "data/pipeline_info/timeline.html"
}
report {
    enabled = false
    file = "data/pipeline_info/report.html"
}
trace {
    enabled = false
    file = "data/pipeline_info/trace.txt"
}
dag {
    enabled = false
    file = "data/pipeline_info/dag.svg"
}
